@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Poppins:wght@300;400;500;600;800&display=swap');
*{
    font-family: 'DotGothic16', sans-serif;
    font-weight: 800;
}
body{
    background-color: rgb(149, 169, 224); 
    margin: 0;
}
#contenedor{
    height: 100vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#calculadora{
 background-image: url("fondo.jpg");
 background-position: center;
 background-size: cover;
 padding: 15px;
 border-radius: 26px;
 box-shadow: 15px 10px 0px 5px #00000033;
}
h4{
    position: fixed;
    left: 41rem;
    top: 1.4rem;
}
#pantalla{
    border: 5px solid gray;
    height: 80px;
    padding: 10px ;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 10px 10px 20px;
    font-size: 25px;
    background-color: #f0ececd7;
    overflow: hidden;
}
.botones{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: repeat(5, 75px);
}
button{
  cursor: pointer;
  margin: 5px;
  padding: 0;
  border-radius: 20px;
  font-size: 1.5em;
  border: none;  
  background-color: #b9f0fa;
  box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #f8f8f841;
}
button:active{
    background-color: rgba(0, 0, 0, 0.26);
}
button:focus{
    outline: none;
}
.col-2{
    grid-column: span 2;
}
.borrar{
    background-color:rgba(226, 109, 109, 0.959);
}